@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@100;300;400;500&family=Lato:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

/* ====================================================== NAVBAR ======================================================*/
.background {
  background: url(img/gallery/backgorund2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.685); /* Transparansi hitam */
  z-index: 1; /* Layer overlay di atas background gambar */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: transparent; /* Awal transparan */
  transition: background-color 0.3s ease, top 0.3s ease; /* Transisi latar belakang dan posisi yang halus */
  position: fixed; /* Posisi tetap */
  top: 0;
  left: 0;
  right: 0;
  z-index: 4; /* Agar di atas overlay */
}

.navbar.scrolled {
  background-color: black; /* Latar belakang hitam saat discroll */
  top: 0; /* Tetap di atas */
}

.navbar .logo {
  font-size: 24px;
  font-weight: 700;
  margin: 0 30px;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 600;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

/* Hover keren pada navbar */
.nav-links a:hover {
  color: #f39c12; /* Ubah warna saat hover */
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #f39c12;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease;
}

.logo a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover::after {
  width: 100%; /* Garis bawah muncul dari kiri ke kanan */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Agar berada di atas overlay */
}

.content h1 {
  font-family: "Dancing Script", cursive;
  font-size: 75px;
  width: 900px;
  margin: 0 auto;
  color: white;
}

.content p {
  font-size: 15px;
  color: #c7c7c7;
  margin-top: 20px;
}

.social-icons {
  display: flex;
  position: absolute;
  right: 50px;
  top: 20px;
  z-index: 2; /* Agar berada di atas overlay */
}

.social-icons a {
  color: white;
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #f39c12;
  transform: scale(1.2); /* Ikon membesar sedikit saat hover */
}

.whatsapp-icon {
  position: fixed; /* Gunakan fixed agar tetap di posisi saat scroll */
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  z-index: 2; /* Agar berada di atas overlay */
}

.whatsapp-background {
  background-color: white; /* Latar belakang putih */
  border-radius: 100%; /* Membuat latar belakang bulat */
  padding: 10px; /* Ruang di sekitar ikon */
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Tambahkan sedikit bayangan untuk efek */
  display: flex;
  justify-content: center; /* Center ikon di dalam background */
  align-items: center; /* Center ikon di dalam background */
}

.whatsapp-background i {
  text-decoration: none;
  color: #25d366; /* Warna ikon WhatsApp */
  font-size: 40px; /* Ukuran ikon */
}

/*====================================================== About ======================================================*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
  margin-top: 0;
}

.text-content {
  flex: 1;
  padding: 0 20px;
  color: #333;
}

.text-content h1 {
  font-family: "Bad Script", sans-serif;
  font-size: 36px;
  text-align: left;
  margin-bottom: 20px;
  color: #000;
}

.text-content p {
  font-size: 16px;
  line-height: 1.6;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: space-between; /* Jarak antar gambar disesuaikan */
  flex-wrap: nowrap; /* Mencegah gambar jatuh ke baris berikutnya */
}

.image-content img {
  margin: 0 10px; /* Memberi sedikit jarak horizontal antar gambar */
  border-radius: 8px;
  object-fit: cover;
  max-width: 45%; /* Agar gambar tidak terlalu besar dan tetap dalam proporsi */
}

/*====================================================== Stats ======================================================*/
.stats-section {
  position: relative;
  background: url("img/gallery/backgorund2.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.stats-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Overlay hitam dengan transparansi */
  z-index: 1;
}

.stat {
  display: inline-block;
  margin: 0 50px;
  z-index: 2;
  position: relative;
}

.stat h1 {
  font-size: 50px;
  margin: 0;
}

.stat p {
  font-size: 20px;
  margin: 5px 0 0;
}

/*====================================================== GALLERY ======================================================*/
#gallery {
  background-color: #f0efef;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  grid-gap: 15px;
  padding: 20px;
  max-width: 1200px;
  columns: 300px;
  margin: 0 auto;
}

.content-gallery {
  text-align: center;
  padding: 20px;
}

.content-gallery h1 {
  margin-top: 70px;
  font-size: 2.5rem;
  color: #000000;
}

.content-gallery p {
  font-size: 15px;
  text-align: center;
  color: #555;
  max-width: 1050px;
  margin: 0 auto;
  padding: 10px;
}

.gallery-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 10px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Card Kontent */
.container-card {
  max-width: 100%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.accordion {
  width: 100%;
}

.card {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.card-header {
  background-color: #f39c12;
  color: white;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-header:hover {
  background-color: #d35400;
}

.card-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  padding: 0 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}

.card-content.open {
  max-height: 500px; /* Set max-height sesuai dengan konten maksimum */
  padding: 15px;
}

.card-content p {
  margin: 0;
}

/*====================================================== PRODUK ======================================================*/
.produk {
  background-color: #f1eeee;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: -500px;
}

.produk h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: -10px;
  color: #000000;
}

.info-table td {
  color: #838080;
  font-size: 13px;
}

.produk p {
  color: #666;
  text-align: center;
  font-size: 14px;
}

.product-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.product-image {
  width: 45%;
}

.product-image img {
  width: 100%;
  height: 500px;
  border-radius: 5px;
}

.product-details {
  width: 48%;
  text-align: left;
}

.product-details h2 {
  color: #d35400;
  font-family: "Bad Script", sans-serif;
  font-size: 40px;
}

.product-details p {
  color: #666;
  text-align: left;
  font-size: 14px;
}

.product-details .info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.product-details .info-table th,
.product-details .info-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-details .info-table th {
  background-color: #d35400;
  color: white;
}

.product-section {
  min-width: 100%;
  transition: transform 0.5s ease;
}

/* Wrapper untuk memastikan tombol berada di posisi relatif */
.swiper-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #f1f1f1; /* Contoh warna latar belakang */
  border-radius: 50%; /* Membuat bentuk bulat */
  width: 40px; /* Ukuran tombol */
  height: 40px; /* Ukuran tombol */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; /* Efek transisi */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #d35400; /* Warna latar belakang saat hover */
  color: white; /* Warna ikon saat hover */
}

/* Pastikan gambar dan tabel terjaga layoutnya */
.product-image {
  flex: 1; /* Buat gambar mengisi space yang ada */
  margin-right: 20px; /* Jarak antara gambar dan tabel */
}

.product-details {
  flex: 1;
}

.download-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CSS untuk tombol */
.download-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #d35400;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: -500px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Menambah margin antara ikon dan teks */
.download-btn i {
  margin-right: 8px;
  font-size: 20px; /* Ukuran ikon sedikit lebih besar */
}

/* Hover effect */
.download-btn:hover {
  background-color: #4b4b4d; /* Ubah warna background saat di-hover */
  transform: scale(1.05); /* Sedikit memperbesar tombol saat di-hover */
}

/* Menambah bayangan tombol (opsional) */
.download-btn {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan di bawah tombol */
}

/*====================================================== BLOG ======================================================*/
.blog-section {
  background-color: #f0eded;
  text-align: center;
  padding: 20px;
}

.blog-section h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 70px;
}

.blog-section p {
  color: #000000;
  margin-bottom: 20px;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-cards {
  display: flex;
  overflow: hidden;
  width: 80%;
  justify-content: center;
}

.card-blog {
  flex: 0 0 30%;
  margin: 0 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 40px;
}

.card-blog img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content-blog {
  padding: 15px;
}

.card-content-blog h3 {
  font-size: 1.1rem;
  color: #000000;
  margin: 10px 0;
}

.card-content-blog p {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.card-content-blog p i {
  margin-right: 5px;
  color: #ff6600; /* Warna ikon */
}

.card-content-blog p i.fa-calendar-alt {
  margin-right: 5px;
}

.card-content-blog p i.fa-file-alt {
  margin-left: 10px;
  margin-right: 5px;
}

.card-blog:hover {
  transform: scale(1.05);
}

.swiper-button-prev,
.swiper-button-next {
  color: #d35400;
}

.swiper {
  width: 100%;
  padding: 20px 0;
}

.swiper-slide-blog {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide-blog img {
  width: 100%;
  height: auto;
}

/*====================================================== TEAM ======================================================*/
.team-section {
  background-color: #fff;
  padding: 50px 0;
}

.team-section h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.team-section p {
  font-size: 15px;
  text-align: center;
  color: #8a8888;
  max-width: 1050px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: -30px;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.team-member {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.team-member img {
  border-radius: 50%;
  width: auto;
  height: 200px;
  object-fit: cover;
  border: 3px solid #f39c12;
}

.team-member h3 {
  font-family: "Bad Script", sans-serif;
  font-size: 23px;
  margin: 10px 0 5px;
}

.team-member p {
  color: #888;
  font-size: 14px;
  margin: 0 0 10px;
}

.team-member .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/*====================================================== Contact  ======================================================*/
.contact-container {
  display: flex;
  background-color: #f0eded;
  gap: 20px;
  justify-content: center; /* Memastikan card terpusat secara horizontal */
}

.contact-card {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 350px;
  transition: all 0.3s ease;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-card i {
  font-size: 40px;
  color: #e07a5f;
}

.contact-card h3 {
  font-size: 1.2rem;
  font-family: "Bad Script", sans-serif;
  color: #000000;
  margin: 10px 0;
}

.contact-card p {
  color: #777;
  margin-top: -10px;
  font-size: 16px;
}

.contact-card:hover {
  background-color: #fff;
  border: none;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.438);
  transform: translateX(-5px);
}

.icon.phone::before {
  content: "\260E"; /* Unicode for phone icon */
}

.icon.email::before {
  content: "\2709"; /* Unicode for email icon */
}

.icon.whatsapp::before {
  content: "\1F4F1"; /* Unicode for whatsapp icon */
}

/*====================================================== footer ======================================================*/
footer {
  background-color: #0d1b2a;
  color: #fff;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h2 {
  margin-bottom: 35px;
}

.footer-section h2 span {
  color: #f39c12;
}

.footer-section h3 {
  font-family: "Bad Script", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-section p {
  margin-bottom: 10px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300; /* Mengatur teks menjadi tipis */
  line-height: 1.6; /* Menambahkan jarak antar baris agar lebih mudah dibaca */
  color: #ffffffd4;
}

.company-info {
  max-width: 300px;
}

.social-media .social-iconsf a {
  color: #fff;
  font-size: 24px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.footer-section i {
  margin-right: 10px;
  color: #f39c12;
}

/* Penambahan untuk copyright */
.footer-copyright {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #ffffff33;
  padding-top: 10px;
  font-size: 12px;
  color: #ffffff99;
  margin-bottom: -40px;
}

.footer-copyright a {
  color: #f39c12;
  text-decoration: none;
}

.footer-copyright a:hover {
  text-decoration: underline;
}
/* ================================================================================================================================== */
/* ================================================================ Responsiveness ================================================== */
/* ================================================================================================================================== */

/* Burger Menu */
.burger {
  display: none;
  cursor: pointer;
  z-index: 5;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Menampilkan burger di layar kecil */
@media (max-width: 800px) {
  .burger {
    display: block; /* Tampilkan burger di mobile */
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links a {
    font-size: 24px;
    margin: 10px 0; /* Mengatur margin untuk merapikan tampilan */
    color: white;
    text-decoration: none;
  }

  .nav-links .logo {
    margin: 20px 0; /* Menambahkan jarak pada logo */
    color: white; /* Warna teks logo */
    font-size: 24px; /* Sesuaikan ukuran font logo */
  }

  .nav-links.active {
    transform: translateX(0%); /* Tampilkan nav links saat hamburger diaktifkan */
  }

  /* Animasi burger menu (X ketika aktif) */
  .burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.toggle .line2 {
    opacity: 0;
  }

  .burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .social-icons {
    font-size: 40px;
    z-index: -1;
  }

  .content h1 {
    font-size: 15px;
    width: 300px;
  }

  .content p {
    font-size: 14px;
    padding: 0 20px;
  }
}

/* Responsivitas footer */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 30px;
    max-width: 100%;
  }

  .social-media .social-iconsf a {
    font-size: 20px;
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .footer-container {
    padding: 0 10px;
  }

  .footer-section h3 {
    font-size: 18px;
  }

  .social-media .social-iconsf a {
    font-size: 18px;
    margin-right: 8px;
  }
}
